<dic>Bienvenido a CoderChat</dic>
<div>
    Envio de mensajes con Websocket!
    <div>
        <p>
           Escribe un mensaje en nuestro ChatBox: <input id="chatBox" type="text" > 
        </p>
            </div>
            <div><p id="messagelog"></p></div>
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/message.js" ></script>